{% extends "layout.html" %}
{% block title %}Cognitive and Robotics Lab{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div>
	  <div class="text_body">
	  <b>پس از انجام بازی</b><br>
هدف اولیه و قدم اول این پژوهش این است که روش عمل کردن و فکر کردن شما در هنگام بازی را استخراج کنیم. در مرحله‌ی بعدی می‌خواهیم ببینیم آیا افراد از روش یکسانی استفاده می‌کنند یا خیر. به این منظور بازی را به چند بخش تقسیم کرده‌ایم. پس از اتمام هر بخش از شما خواسته می‌شود ابتدا روش مورد استفاده‌ی خود در بخش گذشته را از بین چند گزینه انتخاب کنید و سپس به بازی ادامه بدهید. زمان بازی در مجموع ۱۰ دقیقه است.
در مرحله‌ی بعدی قصد داریم از روش‌ شما برای آموزش ۱. افراد مبتدی و ۲. عامل‌های کامپیوتری استفاده کنیم و ببینیم آیا آموزش روش شما باعث بهبود عملکرد آنها می‌شود یا نه.
	  </div>
	  <form action='./play' method = 'POST' class="center_btn">
	  	<input type="submit" name="start_game" value="شروع" class="continue_btn">
	  </form>
  </div>
{% endblock %}